/* Profile image viewer in forms */

.serp-profile {
    height: 100px;
    width: 100px;
    border-radius: 5px;
}

.cursor-pointer {
    cursor: pointer;
}

div#scroll-top {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 999;
    display: none;
}

div#scroll-top:hover {
    animation-play-state: paused;
}